*{
	margin: 0; padding: 0; box-sizing: border-box;
	 
}

main{
      margin-top: 15px;
      padding: 20px;
      margin-left: 55px;
      padding-right: 0px;
      margin-right: 0px;

     }

.photo{
        display: block;
        float: left;
        width: 30%; 
        padding: 5px;
        border-radius: 5px;
        box-shadow: 2px 2px 8px 1px red;
        margin: 5px;
        
       }  

 img{
 	width: 100%;
 	border-radius: 5px;
    }  

 img:hover{   
              transform: scale(2);
              transition: .8s transform;
           }          